In [3]:
import pandas as pd

In [6]:
data = pd.read_csv('globalstore.csv');

1. Listas

In [21]:
lista = list(range(10))
lista

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
lista = list(['IPM', 3, 2])
lista
print(lista[1])

3

In [29]:
nova_lista = ['ana', lista]
print(nova_lista[1][0])

IPM

In [30]:
len(nova_lista) #Comprimento de listas e textos

2

In [31]:
'IPM' in lista

True

In [35]:
nova_lista = [4,3,2,1]
min(nova_lista)
max(nova_lista)

4

In [36]:
prime_numbers = [2,3,5]
lista.extend(prime_numbers)
print(lista)

['IPM', 3, 2, 2, 3, 5]

In [37]:
lista.insert(2, 'João')
print (lista)

['IPM', 3, 'João', 2, 2, 3, 5]

In [38]:
lista.remove(2)
print(lista)

['IPM', 3, 'João', 2, 3, 5]

In [40]:
del lista [-2] #Por index
print (lista)

['IPM', 3, 'João', 5]

In [42]:
lista.pop(2) #se der pop no 2, remove o 2, se nao o topo da lista
print(lista)

['IPM', 3]

In [44]:
lista.reverse()
print (lista)

['IPM', 3]

In [45]:
squares = []
for x in range(10):
    squares.append(x**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [46]:
squares = list(map(lambda x: x**2, range(10)))
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

2. Tuples

In [11]:
tuples = 'tuples', 123
print (tuples)
#Não da para alterar seus valores, mas caso conter objetos, pode-se alterar os objetos
#Permite nesteds (aninhamento, tuplas dentro de tuplas)

('tuples', 123)

In [48]:
t = 12345, 54321, 'hello'
t

(12345, 54321, 'hello')

In [50]:
u = t, (1,2,3,4,5)
print(u)

((12345, 54321, 'hello'), (1, 2, 3, 4, 5))

In [51]:
t[0] = 88888 #Imutável

TypeError: 'tuple' object does not support item assignment

In [52]:
vazia = ()
única = 'hello', #a tupla unitária precisa colocar , no final

In [54]:
#Tuplas podem ser "desempacotadas"
x,y,z = t
print(t)
print(x)
print(y)
print(z)

(12345, 54321, 'hello')
12345
54321
hello

3. Sets

In [56]:
turma = {'Ana', 'Carol', 'Lucas', 'Carol',2}
print(turma)

{'Lucas', 2, 'Carol', 'Ana'}

In [57]:
'Ana' in turma

True

In [58]:
a = set('abracadabra')
print(a)

{'a', 'r', 'd', 'b', 'c'}

In [60]:
b = set ('ana')
print(b)

{'a', 'n'}

In [62]:
a - b #Os que estão em 'a' e não estão em 'b'

{'b', 'c', 'd', 'r'}

In [63]:
a | b # em ambos

{'a', 'b', 'c', 'd', 'n', 'r'}

4. Dicionários

In [69]:
alunos = {1: 'Ana', 2: 'Gabriel', 3: 'João'}
print (alunos)

{1: 'Ana', 2: 'Gabriel', 3: 'João'}

In [67]:
alunos[2]

'Gabriel'

In [70]:
sorted(alunos)

[1, 2, 3]

In [71]:
'Jack' not in alunos

True

In [20]:
dicionario = {'Ana':1, 'Luiz':2}
#Valores chaves, chaves únicas, Ana é chave e 1 o valor
print(dicionario['Ana'])

1